{%extends 'core/base.html' %}
{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
 <h1>Acerca de</h1>
 <span class="subheading">Biografia</span>
 {% endblock %}

{% block content %}
 <div class="row">
 <div class="col-lg-3 col-md-4 offset-lg-1">
<img class="img-fluid avatar" src="{% static 'core/img/avatarimg.jpg' %}" alt="">
</div>
       <div class="col-lg-7 col-md-8">
       <h2 class="section-heading">Hola, soy Emilio!</h2>   
       <p>Naci en Argentina, Santiago del Estero, Capital.</p>
      <p>Empece mis estudios en el 2019, actualmente me apasiona el area del desarrollo web. Pero tambien estoy interesado en ciencia de datos y big data con Python.</p>
      <h3>Tengo experiencia en..</h3>
      <ul>
          <li>Python</li>
          <li>Django</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Javascript</li>
          <li>React.js</li>
          <li>SQL & SQLITE</li>
     </ul>
      </div>
 </div>
{% endblock %}